@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


html,body{
	background: #F5F5F5;
	font-family: "Inter", sans-serif;
}

.container{
	max-width: 1520px;
	margin: 0 auto;
}

.banner-bg-left{
	background: linear-gradient(162deg,rgba(99, 46, 227, 0.9) 2%, rgba(159, 98, 242, 0.9) 88%),url(../public/vector1.png);
	background-repeat: no-repeat;
	background-position: left;

	
}
.banner-bg-right{
	background: linear-gradient(162deg, rgb(84 207 104) 2%, rgb(0 130 122) 88%),url(../public/vector1.png);
}
